* {
	margin: 0px;
}
li {
	width: 50px;
	height: 30px;
	border: solid grey 1px;
	display: table-cell;
}

ul {
	list-style-type: none;
	padding: 0px;
}

#main {
	display: inline-block;
	margin-left: 100px;
	margin-top: 100px;
}

#main-game {
	border: solid black 1px;
	width: 320px;
	background-color: black;
	display: inline-block;
}

.background {
	background-color: black;
	border: solid darkgrey 1px;
	opacity: 0;
}

.terrain {
	background-color: black;
	border: solid black 1px;
}

.block {
	background-color: grey;
	border: solid grey 1px;
}

#next-window {
	width: 160px;
	background-color: white;
	border: solid black 1px;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	margin-top: 100px;
	margin-left: 20px;
}

p {
	text-align: center;
}